.footer-container {
    background-color: #225b77;
    color: #FFF8E5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;

    .logo-footer {
        width: 300px;
        height: 300px;

    }

}

.text-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    a {
        text-decoration: none;
        color: #FFF8E5;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.company-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 55px;

    img {
        width: 220px;
        height: 220px;


    }

    p {
        font-size: 17px;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 15px;
    }

    button {
        border-radius: 10px;
        border: none;
        padding: 7px 15px;
        font-family: 'Raleway', sans-serif;
        background-color: #fdd79d;
        font-size: 15px;
        transition-duration: 0.5s;
        cursor: pointer;
        color: #225b77;


        &:hover {
            background-color: #fac77a;
        }
    }
}

.hermanosCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #225b77;
    color: #FFF8E5;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 25px;
    font-size: 20px;
    padding-right: 30px;


}

@media (max-width:1400px) {
    .footer-container {
        
        gap: 200px;
    }
}

@media (max-width:1150px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 50px; 

        .logo-footer {
            margin-bottom: 20px; /* Ajustar el margen según sea necesario */
        }
    }

    .hermanosCode {
        padding-top: 50px;
    
    
    }
       
}