.favoritePets-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}


.favoritePets-introduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;

    h1 {
        font-size: 45px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        font-family: 'Love Ya Like A Sister', cursive;
        color: #225b77;
    }

    p {
        font-size: 17px;
        color: #56647a;
        margin-top: 8px;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        margin: 35px 0px;
    }
}


.list-text-container{
    display: flex;
    align-items: center;
    gap: 16px;

    p{
        font-size: 18px;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #225b77;
    letter-spacing: 1px;
    width: 100%;
    }
}

.icon-info{
    width: auto;
    height: 30px;
    color: #f3b962;
}
