.user-photo {
    margin-right: 40px;
    margin-left: 35px;
    cursor: pointer;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 70px;
        width: 70px;
        border-radius: 100%;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #225b77;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 260px;

    a {
        text-decoration: none;
        color: #FFF8E5;
        font-size: 22px;
        text-transform: uppercase;
        font-family: 'Love Ya Like A Sister', cursive;
        position: relative;
        letter-spacing: 1.5px;

        &::after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #FFF8E5;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.4s ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.logo-header {
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }

    img {
        height: 130px;
        width: 130px;
    }

    .logo-href {
        &::after {
            content: none;
        }
    }
}

.icon-menu {
    display: none;
}

@media (max-width: 1000px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #225b77;
        color: #FFF8E5;
        top: 90px;
        left: 0;
        right: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
        z-index: 999;
    }

    .nav-container.open {
        max-height: 500px;
        padding: 25px 0px;
    }

    .icon-menu {
        display: block;
        margin-right: 40px;
        cursor: pointer;
        font-size: 30px;
        color:#FFF8E5;
        padding: 5px;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;

    }

    .icon-menu:hover{
        background-color: #FFF8E5;
        color: #f3b962;
    }

    .header-container {
       padding: 20px 0px;
    }
}